
h1 {
    font-size: 120px;
    font-weight: 100;
    margin: 40px
}

h2{
    font-size: 50px;
    font-weight: 100;
}

h3{
    font-weight:700;
} 

.bike-emoji{
    font-size: 100px;
    position:absolute;
    animation:cycle 10s linear infinite;
    transform-origin: center;
}

@keyframes cycle {

    0% {
        right: 0%;
        transform: rotateY(0deg);
      }
      49% {
        transform: rotateY(0deg);
      }
      50% {
        right: 90%;
        transform: rotateY(180deg);
      }
      99% {
        transform: rotateY(180deg);
      }
      100% {
        right: 0%;
        transform: rotateY(0deg);
      }
}

body {
    text-align: center;
    list-style-position: inside;
    font-family: 'Pathway Extreme', sans-serif;
    background-color: rgb(235, 186, 52);
    background-image: url(https://cdn.pixabay.com/photo/2018/12/06/14/05/cycling-3859879_1280.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    
}

.grid {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.list-container {
    text-align: center;
    width: 20%;
    display: inline-block;
    text-align: left;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    margin-bottom: 20px;
    background-color: rgb(184, 134, 11, 0.8);
}



table {
    font-size: 50px;
}

td {
    height: 100px;
    width: 100px;
}

button:hover {
    background-color:rgb(184, 134, 11);
}

